body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;

}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2f42;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu a:hover,
.menu a:focus,
.menu a:active,
.contacts a:hover,
.contacts a:focus,
.contacts a:active {
  color: #404bbf;
}

.contacts {
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.contacts address {
  font-style: normal;
}

.main-face {
  background-color: #2e2f42;
}

.title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.cta-button {
  font-family: "Roboto" sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.cta-button:hover,
.cta-button:focus,
.cta-button:active {
  background-color: #404bbf;
}

.features h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.team p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team li {
  text-align: center;
  background-color: #fff;
}

.portfolio h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.portfolio h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio li {
  text-align: center;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4fd;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}